.content-text-img-section {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 20px 80px;
  gap: 24px;

  @media (max-width: 1125px) {
    flex-direction: column;
    padding: 0;
    gap: 20px;
    align-items: stretch;
  }


  .content-text-img-section-item {
    flex: 1 0;
    min-width: 0;

    &.content-text-img-section-item-1 {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 14px;


      .content-text-img-section-item-title {
        width: 100%;
        font-size: 24px;
        text-align: left;
        color: #000;

      }

      .content-text-img-section-item-description {
        width: 100%;
        font-size: 14px;
        line-height: 2;
        text-align: left;
        color: #858585;

      }
    }
  }

  .content-text-img-section-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;

    @media (max-width: 1125px) {
      width: 100%;
      justify-content: center;
    }


    img {
      height: 200px;

      @media (max-width: 1125px) {
        width: 100%;
        max-width: 320px;
        height: auto;
        border-radius: 24px;
        object-fit: cover;
      }

    }
  }
}

.content-text-img-section-reverse {
  display: flex;
  @media (max-width: 1125px) {
    flex-direction: column;
    padding: 0;
    gap: 20px;
    align-items: stretch;
  }
}
