.content-text-img-section {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 20px 80px;

  @media (max-width: 1125px) {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
  }


  .content-text-img-section-item {
    flex: 1 0;

    &.content-text-img-section-item-1 {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 14px;


      .content-text-img-section-item-title {
        width: 100%;
        font-size: 24px;
        text-align: left;
        color: #000;

      }

      .content-text-img-section-item-description {
        width: 100%;
        font-size: 14px;
        line-height: 2;
        text-align: left;
        color: #858585;

      }
    }
  }

  .content-text-img-section-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;


    img {
      height: 200px;

    }
  }
}

.content-text-img-section-reverse {
  display: flex;
  @media (max-width: 1125px) {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: flex-end;
  }
}