
.correction-brand-compare-table {
  width: 100%;
  max-width: 96vw;
  margin: 0 auto;
  background: #f6f6f6;
  border-radius: 18px;
  box-shadow: 0 2px 8px #d9d9d9;
  padding: 24px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 50px;

  @media (max-width: 768px) {
    max-width: 100%;
    border-radius: 12px;
    padding: 24px 0 12px 0;
  }

  .correction-brand-compare-table-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #111;
    text-align: left;
    letter-spacing: 1.1px;
    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 14px;
    }
  }

  .intro-text {
    font-size: 14px;
    line-height: 1.5;
    color: #111;
    text-align: left;
    letter-spacing: 1.1px;
  }

  .timing-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    .timing-section {
      display: flex;
      position: relative;

      .timing-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 14px;
        overflow: hidden;
      }

      .timing-content {
        position: absolute;
        left: 50%;
        bottom: -110px;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 110px;
        background: white;
        border-radius: 14px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        .timing-title {
          color: rgb(86 216 209);
          font-size: 12px;
          font-weight: 600;
        }

        .timing-description {
          text-align: left;
          margin-top: 12px;
          color: #000;
          font-size: 12px;
          line-height: 1.5;
        }
      }
    }
  }
}