.join-join-description-section {
  width: 100%;
  margin-top: 80px;
  position: relative;

  .join-join-description-section-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    gap: 32px;

    .join-join-description-section-text-title {
      font-size: 66px;
      font-weight: bold;
    }

    .join-join-description-section-text-content {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      margin-top: 12px;
    }
  }
}