.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block-了解維持器的佩戴時機與保養方式 {
  width: 1788px;
  height: 319px;
}
.block-認識珍舒美白的成分功效與使用建議 {
  width: 1786px;
  height: 322px;
}
.block-正確的齒列排列不只是外觀上的美感更是口腔健康的基礎 {
  width: 2086px;
  height: 324px;
}
.block-了解療程設計與隱形牙套的矯正優勢 {
  width: 1781px;
  height: 322px;
}
.block-美白介紹 {
  width: 883px;
  height: 214px;
}
.block-正畸與美 {
  width: 886px;
  height: 214px;
}
.block-維持器 {
  width: 665px;
  height: 211px;
}
.block-隱形牙套 {
  width: 883px;
  height: 211px;
}
.block-微笑測試 {
  width: 890px;
  height: 211px;
}
.block-ShineBright {
  width: 1574px;
  height: 1354px;
}
.block-台灣繁中 {
  width: 588px;
  height: 120px;
}
.block-PEARLDIGITAL {
  width: 943px;
  height: 96px;
}
.block-微笑测试 {
  width: 504px;
  height: 122px;
}
.block-登陆 {
  width: 245px;
  height: 120px;
}
.block-矯正與美 {
  width: 506px;
  height: 120px;
}
.block-珍舒美旅程 {
  width: 629px;
  height: 122px;
}
.block-珍舒美白 {
  width: 487px;
  height: 120px;
}
.block-維持器2 {
  width: 379px;
  height: 120px;
}
.block-隱形牙套2 {
  width: 502px;
  height: 120px;
}
.block-常見問題 {
  width: 696px;
  height: 168px;
}
.block-關於我們 {
  width: 689px;
  height: 168px;
}
.block-探索更多 {
  width: 703px;
  height: 168px;
}
.block-關於 {
  width: 341px;
  height: 170px;
}
.block-正畸與美2 {
  width: 703px;
  height: 168px;
}
.block-珍舒美旅程2 {
  width: 886px;
  height: 168px;
}
.block-服務 {
  width: 346px;
  height: 168px;
}
.block-合作夥伴 {
  width: 708px;
  height: 168px;
}
.block-笑容升級 {
  width: 706px;
  height: 168px;
}
.block-珍舒美白2 {
  width: 684px;
  height: 168px;
}
.block-維持器3 {
  width: 528px;
  height: 168px;
}
.block-隱形牙套3 {
  width: 698px;
  height: 168px;
}
.block-產品 {
  width: 338px;
  height: 168px;
}
.block-台灣繁中2 {
  width: 941px;
  height: 194px;
}
.block-關於珍舒美 {
  width: 1152px;
  height: 221px;
}
.block-微笑测试2 {
  width: 931px;
  height: 223px;
}
.block-從療程設計到治療完成我們始終專注於每一個細節為你提供值得信賴的矯正體驗因為我們相信擁有整齊笑容光芒與自信就會自然綻放 {
  width: 8114px;
  height: 1253px;
}
.block-高透明度材質與口腔護理方案讓你每個笑容自然明亮AI技術輔助與臨床專業設計實現客製化的科學矯正效果 {
  width: 4222px;
  height: 410px;
}
.block-笑容不只是整齊更應自信發光 {
  width: 3096px;
  height: 221px;
}
.block-ShineBrightAlignRight {
  width: 5659px;
  height: 1394px;
}
.block-請不要出售或分享我的個人信息Cookie設置 {
  width: 2926px;
  height: 509px;
}
.block-PearlDigitalincAllRightsReserved2025 {
  width: 2722px;
  height: 511px;
}
.block-emailexamplecom5555555555 {
  width: 3490px;
  height: 218px;
}
.block-123DemoStreetNewYorkNY12345 {
  width: 3636px;
  height: 187px;
}
